
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
    background-color: #f4f4f4; /
}

header {
    background-color: #3f1847; 
    color: white; 
    text-align: center; 
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 3rem; 
}

header p {
    font-size: 1.2rem; 
    margin-top: 10px; 
}


.gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 250px; 
    padding: 20px;
    justify-items: center; 
}

.gallery-item img {
    width: 170%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}


h2 {
    text-align: center;
    font-size: 2rem; 
    margin-top: 20px; 
    color: #333; 
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; 
    }

    header p {
        font-size: 1rem; 
    }

    .gallery {
        grid-template-columns: 1fr; 
    }
}
.projects-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 12px 0;
    background-color: #c7b3cc;
    color: white;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
